/* Color classes for grid visualization */

.col-a {
  background-color: #FF6B6B;
  border: 1px solid #999;
}

.col-b {
  background-color: #4ECDC4;
  border: 1px solid #999;
}

.col-c {
  background-color: #45B7D1;
  border: 1px solid #999;
}

.col-d {
  background-color: #FFA07A;
  border: 1px solid #999;
}

.col-e {
  background-color: #98D8C8;
  border: 1px solid #999;
}

.col-f {
  background-color: #F7DC6F;
  border: 1px solid #999;
}

.col-g {
  background-color: #BB8FCE;
  border: 1px solid #999;
}

.col-h {
  background-color: #85C1E2;
  border: 1px solid #999;
}

.col-i {
  background-color: #F8B88B;
  border: 1px solid #999;
}

.col-j {
  background-color: #A9DFBF;
  border: 1px solid #999;
}

.card{ 
  max-width: none;
}

.title-name {
  font-size: 8rem;
  letter-spacing: 5px;
}

.custom-nav {
  background-color: #111827;
  border-bottom: 2px solid #2c3e50;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}