.card{ 
  max-width: none;
}

.title-name {
  font-size: 8rem;
  letter-spacing: 5px;
}

.custom-nav {
  background-color: #111827;
  border-bottom: 2px solid #2c3e50;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}